.comeant {
  display: flex;
  height: 50vw;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 3rem;
}
.send-coment {
  height: 36vw;
  width: 30%;
  background: #f5ecbaff;
  padding: 20px;
  border: 2px solid rgba(37, 24, 68, 1);
  border-radius: 10px;
}

.send-coment h1 {
  margin-top: -2rem;
  padding: 6px;
  background: rgb(21, 137, 255);
  width: 4rem;
  border-radius: 20px;
  font-size: 1.3rem;
  align-items: center;
  margin-left: 10rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.send-coment input {
  width: 92%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  padding: 0px 12px;
  border-radius: 20px;
}

.send-coment textarea {
  font-size: 1.1rem;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 90px;
  padding: 14px;
  border-radius: 10px;
}
label {
  font-size: 1.1rem;
  font-weight: 700;
  color: chocolate;
}

.btn-submit {
  padding: 6px 16px;
  font-size: 1.2rem;
  border-radius: 30px;
  background: rgb(52, 25, 77);
  color: bisque;
}
.receiver-coment {
  width: 40%;
  height: 30vw;
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.coment-see {
  border: 1px solid black;
  width: 40%;
  height: 20vw;
  margin-top: -250px;
  padding: 10px;
  border-radius: 30px;
  overflow-y: auto;
}
.receiver-coment h1 {
  margin-top: -10px;
  text-align: left;
}

/* .p-see {
  width: 10rem;
} */
.icon-receiver {
  /* margin-left: -30rem; */
  margin-bottom: -3.2rem;
  font-size: 3rem !important;
}
.النجوم {
  margin-top: 15px;
  margin-left: 1rem;
}
.receiver-name {
  display: flex;
  flex-direction: column;
}
.receiver-name h3 {
  margin-top: -1rem;
  margin-right: 7rem;
}
@media (max-width: 760px) {
  .comeant {
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
    height: 150vw;
    gap: 50px;
  }
  .send-coment {
    width: 70%;
    height: 70%;
  }
  .send-coment h1 {
    margin-left: 6.5rem;
    margin-bottom: 1rem;
  }
  .send-coment input {
    width: 80%;
    height: 1.6rem;
    margin: 0;
    font-size: 1rem;
  }
  .send-coment textarea {
    width: 70%;
    height: 30px;
    margin: 0;
    font-size: 1rem;
  }
  .btn-submit {
    width: 4.5rem !important;
    height: 2.5rem !important;
    font-size: 0.8rem !important ;
    margin: 2rem 0 0 0 !important;
    padding: 0 !important;
  }
  .receiver-coment {
    width: 80%;
    height: 70%;
  }
  .icon-receiver {
    margin: 0 0 -2rem 0;
  }
  .receiver-name h3 {
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
