.signup {
  position: absolute;
  width: 40%;
  height: 60vh;
  border: 1px solid black;
  background: rgba(255, 243, 219, 0.801);
  left: 30%;
  top: 10%;
  padding: 20px;
  border-radius: 20px;
}
.signup label {
  display: block;
}
.signup input {
  width: 60%;
  height: 0.5rem;
  padding: 15px;
  border-radius: 10px;
  margin-top: 0.8rem;
  border: none;
  margin-left: 0.8rem;
}

button[type="submit"] {
  width: 6.8rem;
  height: 2.6rem;
  border: none;
  font-size: 1.3rem;
  margin-top: 1rem;
  background: blueviolet;
  border-radius: 20px;
}
