.box-shado {
  display: flex;
  padding: 20px;
  width: 310px;
  box-shadow: 1px 1px 4px 4px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
.our-tarck-box {
  display: flex;
  gap: 20px;
  margin: 25px 0px 25px 0px;
  justify-content: center;
}
.text-our {
  display: flex;

  text-align: left;
  font-size: 1.1rem;
}
.imag-ourt {
  max-height: 300px;
  border-radius: 10px;

  margin-bottom: 12px;
}
.our-tarck p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left !important;
  cursor: pointer;
}
h3 {
  padding: 30px 0px 0px 30px;
  margin-left: -192px !important;
  color: chocolate;
  cursor: pointer;
}
.imag-ourt img {
  width: 200vh;
  height: 20vw;
}
@media (max-width: 760px) {
  .box-shado {
  }
  .our-tarck-box {
    flex-direction: column;
    margin-left: 25px;
  }
  .imag-ourt img {
    width: 100%;
    height: 35vw;
  }
}
